@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Nunito:wght@200&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    background: #F4F7F6;
}
.navbar{
    background: #F4F7F6;
}
.navbar-toggler:focus, .navbar-toggler:active{
    box-shadow: none;
}
.navbar-img{
    width: 50px;
    height: 50px;
    border-radius: 999px;
    object-fit: cover;
}
.navbar-brand{
    color: #202121;
    font-weight: bolder;
}
/* hero section */
.hero_section{
    background-image: url('../images/hero.jpg');
    height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    font-family: Nunito;
}
.hero_section::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}
.content > h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 30vh;
    color: white;
}
/* project section */
.card{
    box-shadow: none;
}
.card-body{
    background: #FCFCFC;
}
.project-img{
    width: 40px;
    height: 40px;
    border-radius: 999px;
    object-fit: cover;
}

/* profile */
.profile-img{
    height: 90px;
    width: 100%;
    object-fit: cover;
}
/* footer */
footer{
    background: #202121;
    color: #E4B96C;
}