{% extends 'base.html' %}

{% block title %}
<title>Home page</title>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">ProHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
                    <li class="m-3">Hey, Marcos</li>
                    <img style="width: 40px; height: 40px;" class="img-fluid m-2" src="../static/images/wave.png" alt="">
                    <li class="m-3"><a class="text-decoration-none text-dark" href="#">SignUp</a></li>
                    <li class="m-3"><a class="text-decoration-none text-dark" href="#">Login</a></li>
                    <li class="m-3"><a class="text-decoration-none text-dark" href="#">Logout</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                     <img class="img-fluid navbar-img" src="../static/images/resume.png" alt=""> 
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i><span class="m-2">Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="hero_section">
    <div class="content">
      <h1>ProHub</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="color: #E4B96C;">
        <h3>|Design|</h3>
        <h3>Usability|</h3>
        <h3>Content|</h3>
    </div>
    <div class="d-flex justify-content-center" style="color: white;">
        <p>Display some of your best projects and recieve professional reviews and ratings from around the world.</p>
    </div>
</div>
<div class="container-fluid">
    <h5 class="mt-4 mb-5 underline" style="font-weight: bold;">Top Projects</h5>
    <div class="row mb-5">
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="#"><img src="../static/images/p2.jpg" class="card-img-top project_img" alt="..."></a>
                <div class="card-body">
                  <a href="#" class="text-decoration-none text-dark"><h5 class="card-title" style="font-weight: bolder;">House help</h5></a>
                  <div class="d-flex align-items-center justify-content-between">
                    <p>From Italy</p>
                    <p>March 9th, 2022</p>
                  </div>
                  <img class="img-fluid project-img" src="../static/images/resume.png" alt="">
                  <span>By  Marcos Ochieng</span>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="#"><img src="../static/images/p2.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <a href="#" class="text-decoration-none text-dark"><h5 class="card-title" style="font-weight: bolder;">House help</h5></a>
                  <div class="d-flex align-items-center justify-content-between">
                    <p>From Italy</p>
                    <p>March 9th, 2022</p>
                  </div>
                  <img class="img-fluid project-img" src="../static/images/resume.png" alt="">
                  <span>By  Marcos Ochieng</span>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="#"><img src="../static/images/p2.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <a href="#" class="text-decoration-none text-dark"><h5 class="card-title" style="font-weight: bolder;">House help</h5></a>
                  <div class="d-flex align-items-center justify-content-between">
                    <p>From Italy</p>
                    <p>March 9th, 2022</p>
                  </div>
                  <img class="img-fluid project-img" src="../static/images/resume.png" alt="">
                  <span>By  Marcos Ochieng</span>
                </div>
              </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="pt-3">ProHub</h1>
            </div>
            <div class="col-md-4">
                <p class="pt-4">@CopyRight AllRights Reserved</p>
            </div>
            <div class="col-md-4">
                <h1 class="pt-3">2022</h1>
            </div>
        </div>
    </div>
</footer>
{% endblock %}