{% extends 'base.html' %}

{% block title %}
<title>Home page</title>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">ProHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="m-3">Hey, {{ user.username }}</li>
                <img style="width: 40px; height: 40px;" class="img-fluid m-2" src="../static/images/wave.png" alt="">
                <li style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal" class="m-3"><a class="text-decoration-none text-dark">Post Project</a></li>
                <li class="m-3"><a class="text-decoration-none text-dark" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="m-3"><a class="text-decoration-none text-dark" href="{% url 'register' %}">SignUp</a></li>
                <li class="m-3"><a class="text-decoration-none text-dark" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-fluid navbar-img" src="../static/images/resume.png" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i><span
                                    class="m-2">Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="hero_section">
    <div class="content">
        <h1>ProHub</h1>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="color: #E4B96C;">
        <h3>|Design|</h3>
        <h3>Usability|</h3>
        <h3>Content|</h3>
    </div>
    <div class="d-flex justify-content-center" style="color: white;">
        <p>Display some of your best projects and recieve professional reviews and ratings from around the world.</p>
    </div>
</div>
<div class="container">
    <h5 class="mt-4 mb-5 underline" style="font-weight: bold;">Top Projects</h5>
    <div class="row mb-5">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="img-area">
                <img style="height: 200px;" class="img-fluid" src="{{ project.image.url }}" alt="">
                <div class="img-text">
                    <a class="text-decoration-none text-white" href="#">VOTE NOW</a>
                </div>
            </div>
            <div class="img-info">
                <h6 style="font-weight: bolder;">{{ project.title }}</h6>
                <div class="d-flex align-items-center justify-content-between">
                    <small>From {{ project.location }}</small>
                    <small>{{ project.pub_date }}</small>
                </div>
                <img class="img-fluid project-img mt-2" src="../static/images/resume.png" alt="">
                <small class="mt-2">By Marcos Ochieng</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="pt-3">ProHub</h1>
            </div>
            <div class="col-md-4">
                <p class="pt-4">@CopyRight AllRights Reserved</p>
            </div>
            <div class="col-md-4">
                <h1 class="pt-3">2022</h1>
            </div>
        </div>
    </div>
</footer>
<!-- POST MODAL -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input style="box-shadow: none;" name="image" class="mb-3 form-control" type="file">
                <input style="box-shadow: none;" class="mb-3 form-control" name="title" type="text" placeholder="Provide a title...">
                <textarea class="form-control mb-3" name="description" id="" cols="30" rows="5" placeholder="description"></textarea>
                <input style="box-shadow: none;" class="form-control mb-3" name="location" type="text" placeholder="location...">
                <button type="submit" class="btn1">Share</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}