{% extends 'base.html' %}

{% block title %}
<title>Profile Page</title>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">ProHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
                <h4 class="mt-3">Welcome, {{ user.username }}</h4>
                <img style="width: 40px; height: 40px;" class="img-fluid m-2" src="../static/images/wave.png" alt="">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.profile.profile_picture %}
                        <img class="img-fluid navbar-img" src="{{ user.profile.profile_picture.url }}" alt="">
                        {% else %}
                        <img class="img-fluid navbar-img" src="../static/images/resume.png" alt="">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">View Profile</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i><span
                                    class="m-2">Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="profile_section mt-3">
        <img class="img-fluid profile-img" src="../static/images/hero.jpg" alt="">
    </div>
    {% if user.profile.profile_picture %}
    <img class="img-fluid profile-photo" src="{{ user.profile.profile_picture.url }}" alt="">
    {% else %}
    <img class="img-fluid profile-photo" src="../static/images/resume.png" alt="">
    {% endif %}
    <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="profile_btn">Update Profile</button>
    <h3 class="mt-5">My Projects</h3>
    <div class="row">
        <div class="col-md-6 personal_projects">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <img class="img-fluid" src="../static/images/p2.jpg" alt="">
                </div>
                <div class="col-md-6 mb-3">
                    <img class="img-fluid" src="../static/images/p2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Personal Details</h4>
            <h6>Name : {{ user.profile.name }}</h6>
            <h6>Location : {{ user.profile.location }}</h6>
            <h6>Bio : <p>{{ user.profile.bio }}</p>
            </h6>
        </div>
    </div>
</div>
<footer class="mt-4"> 
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="pt-3">ProHub</h1>
            </div>
            <div class="col-md-4">
                <p class="pt-4">@CopyRight AllRights Reserved</p>
            </div>
            <div class="col-md-4">
                <h1 class="pt-3">2022</h1>
            </div>
        </div>
    </div>
</footer>

<!-- PROFILE MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input style="box-shadow: none;" name="image" class="mb-3 form-control" type="file">
                <input style="box-shadow: none;" class="mb-3 form-control" name="name" type="text" placeholder="Provide a name...">
                <textarea class="form-control mb-3" name="bio" id="" cols="30" rows="5" placeholder="bio..."></textarea>
                <input style="box-shadow: none;" class="form-control mb-3" name="location" type="text" placeholder="location...">
                <button type="submit" class="btn1">Share</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}