{% extends 'base.html' %}

{% block title %}
<title>Details</title>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">ProHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="m-3">Hey, {{ user.username }}</li>
                <li class="m-3"><a class="text-decoration-none text-dark" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="m-3"><a class="text-decoration-none text-dark" href="{% url 'register' %}">SignUp</a></li>
                <li class="m-3"><a class="text-decoration-none text-dark" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.profile.profile_picture %}
                        <img class="img-fluid navbar-img" src="{{ user.profile.profile_picture.url }}" alt="">
                        {% else %}
                        <img class="img-fluid navbar-img" src="../static/images/resume.png" alt="">
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i><span class="m-2">Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" style="margin-top: 10vh;">
        <div class="col-md-8">
            <div class="row" style="background: white;padding-top: 50px;padding-bottom: 50px;">
                <div class="col-md-6">
                   <img class="img-fluid" src="{{ project.image.url }}" alt="">
                </div>
                <div class="col-md-6">
                    <h6>{{ project.title }}</h6>
                    <p>{{ project.description }}</p>
                    {% for review in reviews %}
                    <p>{{ review.rating }} stars.</p>
                    {% endfor %}
                    <div class="d-flex justify-content-between align-items-center">
                        <small>By {{ project.user}}</small>
                        <small>{{ project.pub_date }}</small>
                        <small>{{ project.location }}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <form action="{% url 'submit_review' project.id  %}" method="POST">
                {% csrf_token %}
                <div>
                    {% for message in messages %}
                    <h3 class="text-center mt-3" style="color: #F2658D;">{{ message }}</h3>
                    {% endfor %}
                </div>
                <div>
                    <!-- Rating stars -->
                    <label for="">How do you rate this project?</label>
                    <br>
                    <div class="rate">
                        <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5" class="form-label"></label>
                        <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="form-label half"></label>
                        <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4" class="form-label"></label>
                        <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="form-label half"></label>
                        <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3" class="form-label"></label>
                        <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="form-label half"></label>
                        <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2" class="form-label"></label>
                        <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="form-label half"></label>
                        <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1" class="form-label"></label>
                        <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="form-label half"></label>
                    </div>
                    <br>
                  Review Title:
                  <input style="box-shadow: none;" type="text" class="form-control mb-2" name="subject">
                  Review:
                  <textarea style="box-shadow: none;" name="review" id="" cols="30" rows="5" class="form-control mb-3"></textarea>
                  <button class="btn1 mb-5" type="submit">Submit Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}